#navfirst { height: 30%;}
#login, #signup, #login1, #join1 {height: 100%; padding: 0% 4px;}
#logout1, #logout {height: 100%; padding: 0% 4px; }
#mypage1, #mypage {height: 100%; padding: 0% 4px; }
#navsecond{padding: 0; }
#logo{ font-size:30px;}