{% extends 'base.html' %}
{% block content %}
<div class="conatiner my-3">
    <div class="row justify-content-center">
        <div class="col col-6">
            <form method="post" action="{%url 'user:login' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="row mb-3">
                    <label for="username" class="col-lg-2 col-form-label">ID</label>
                    <div class="col">
                        <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-lg-2 col-form-label">PASSWORD</label>
                    <div class="col">
                        <input type="password" class="form-control" name="password" id="password"
                           value="{{ form.password.value|default_if_none:'' }}">
                    </div>
                </div>
                <div class="d-grid mx-auto mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}